html, body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    min-height: 575px;
    font-family: 'Source Sans Pro', sans-serif;;
}

header{
    box-sizing: border-box;
    flex: 0 1 auto;
    background-color: #AD1457;
    color: white;
}

section{
    box-sizing: border-box;
    flex: 2 auto;
}

footer{
    background-color: #eeeeee;
    font-family: Georgia,serif;
    color: #9E9E9E;
    text-decoration: none;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 30px;
}

h1, #logo{
    text-align: center;
}

h1{
    margin: 50px;
    font-size: 35px;
}

.settings {
    margin: 0 auto;
    max-width: 900px;
}

.settings > p {
    font-size: 26px;
}

footer > ul {
    list-style: none;
    -webkit-padding-start: 0;
}

footer li {
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: #9E9E9E;
    font-style: italic;
}

footer a:hover {
    color: #000000;
}

#surprise {
    color: red;
    font-size: 35px;
}

.float-left {
    float: left;
 }

.float-right {
    float: right;
}