<footer class="site-footer">

  <div class="wrapper">

    <div class="social-media centered">
      <ul>
        <li>
          <i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;
          <a href="https://musescodejs.org/" target="_blank">musescodejs.org</a>
        </li>
        <li>
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;&nbsp;
          <a href="mailto:info@musescodejs.org">info@musescodejs.org</a>
        </li>
      </ul>
      <ul>
        <li>
          <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
          <a href="https://www.facebook.com/MusesCodeJS" target="_blank">facebook.com/MusesCodeJS</a>
          </li>
        <li>
          <i class="fa fa-github-alt" aria-hidden="true"></i>&nbsp;&nbsp;
          <a href="https://github.com/muses-code-js" target="_blank">github.com/muses-code-js</a>
          </li>
        <li>
          <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;
          <a href="https://twitter.com/MCJSMelb" target="_blank">twitter.com/MCJSMelb</a>
          </li>
      </ul>
    </div>

</footer>
