{% assign steps = site.steps | sort: "number" %}

<div class="step-nav">
  <ul class="main">
    <li class="{% if page.url == '/' }} %}active{% endif %}"><a  href="{{ '/' | relative_url }}">Home</a></li>
  </ul>

  <h3>Getting Started</h3>
  <ul>
  {% for step in steps %}
    {% if step.level == 0 %}
      <li class='{% if page.number == step.number %}active{% endif %}'>
        <a href="{{ step.url | relative_url }}">
          {% if step.number != "start" %}{{step.number}} - {% endif %}{{ step.title | escape }}
        </a>
      </li>
      {% endif %}
  {% endfor %}
  </ul>

  
  <h3>Level 1</h3>
  <ul>
  {% for step in steps %}
    {% if step.level == 1 %}
      <li class='{% if page.number == step.number %}active{% endif %}'>
        <a href="{{ step.url | relative_url }}">
          {% if step.number != "start" %}{{step.number}} - {% endif %}{{ step.title | escape }}
        </a>
      </li>
      {% endif %}
  {% endfor %}
  </ul>

  <h3>Level 2</h3>
  <ul>
  {% for step in steps %}
  {% if step.level == 2 %}
      <li class='{% if page.number == step.number %}active{% endif %}'>
        <a href="{{ step.url | relative_url }}">
          {% if step.number != "start" %}{{step.number}} - {% endif %}{{ step.title | escape }}
        </a>
      </li>
      {% endif %}
  {% endfor %}
  </ul>

  <h3>Level 3</h3>
  <ul>
  {% for step in steps %}
  {% if step.level == 3 %}
      <li class='{% if page.number == step.number %}active{% endif %}'>
        <a href="{{ step.url | relative_url }}">
          {% if step.number != "start" %}{{step.number}} - {% endif %}{{ step.title | escape }}
        </a>
      </li>
      {% endif %}
  {% endfor %}
  </ul>

  <ul class="main">
    <li class="{% if page.url == '/journey-continues/' }} %}active{% endif %}"><a href="{{ '/journey-continues/' | relative_url }}">The Journey Continues</a></li>
  </ul>

  
  <h3>Useful Links</h3>
  <ul>
  <li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference">MDN Javascript Reference</a></li>
  
</ul>


</div>
