{% assign steps = site.steps | sort: "number" %}

<div class="step-nav">
  <ul class="main">
    <li class="{% if page.url == '/' }} %}active{% endif %}"><a  href="{{ '/' | relative_url }}">Home</a></li>
  </ul>

  <h3>Part 0 - Getting Started</h3>
  <ul>
  {% for step in steps %}
    {% if step.part == 0 %}
      <li class='{% if page.number == step.number %}active{% endif %}'>
        <a href="{{ step.url | relative_url }}">
          {% if step.number != "start" %}{{step.number}} - {% endif %}{{ step.title | escape }}
        </a>
      </li>
      {% endif %}
  {% endfor %}
  </ul>

  
  <h3>Part 1 - Basics</h3>
  <ul>
  {% for step in steps %}
    {% if step.part == 1 %}
      <li class='{% if page.number == step.number %}active{% endif %}'>
        <a href="{{ step.url | relative_url }}">
          {% if step.number != "start" %}{{step.number}} - {% endif %}{{ step.title | escape }}
        </a>
      </li>
      {% endif %}
  {% endfor %}
  </ul>

  <h3>Part 2 - The Browser</h3>
  <ul>
  {% for step in steps %}
  {% if step.part == 2 %}
      <li class='{% if page.number == step.number %}active{% endif %}'>
        <a href="{{ step.url | relative_url }}">
          {% if step.number != "start" %}{{step.number}} - {% endif %}{{ step.title | escape }}
        </a>
      </li>
      {% endif %}
  {% endfor %}
  </ul>

  <!-- <h3>Challenges</h3>
  <ul>
  {% for challenge in site.challenges %}
      <li class='{% if page.cnumber == challenge.cnumber %}active{% endif %}'>
        <a href="{{ challenge.url | relative_url }}">
          {% if challenge.cnumber != "start" %}{{challenge.cnumber}} - {% endif %}{{ challenge.title | escape }}
        </a>
      </li>
  {% endfor %}
  </ul> -->

  <ul class="main">
    <!-- <li class="{% if page.url == '/troubleshooting/' }} %}active{% endif %}"><a href="{{ '/troubleshooting/' | relative_url }}">Troubleshooting</a></li> -->
    <li class="{% if page.url == '/journey-continues/' }} %}active{% endif %}"><a href="{{ '/journey-continues/' | relative_url }}">The Journey Continues</a></li>
  </ul>

  
  <h3>Useful Links</h3>
  <ul>
  <li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference">MDN Javascript Reference</a></li>
  
</ul>


</div>
