table.reference {
  // border: 1px solid #e7e7e7;
  background-color: #efefef;
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      th {
        font-size: 16px;
        background: grey;
        padding: 8px 5px 5px 8px;
        text-align: left;
        color: white;
      }
      th:first-child {

      }
    }

  }
  tbody {
    tr {
      td {
        border-bottom: 1px solid #e7e7e7;
        padding: 8px;
        vertical-align: top;
      }
      td:first-child {
        padding: 8px 5px 5px 12px;
        font-weight: bold;
      }
    }
  }
}
