.hidden {
  display: none;
}

h5.toggle {
  font-size: 20px;
  background-color: $musespurple;
  border: 2px solid darken($musespurple, 10%);
  border-radius: 4px;
  padding: 7px 10px 5px 10px;
  cursor: pointer;
  margin: 0px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

h5.showing {
  border-radius: 4px 4px 0px 0px !important;
}

h5.hiding span.action:before {
  content: 'show'
}

h5.showing span.action:before {
  content: 'hide'
}
