/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
 footer {
 	background: $musesred;
 	position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
 	padding-top: 25px;
 	padding-bottom: 15px;

  div.social-media {
 	  color: #fff;
 	  margin-bottom: 10px;

    a {
     	color: #ffffff;
     	font-size: 16px;
     	font-weight: bold;
     	text-decoration: none;
      &:hover {
     	  text-decoration: underline;
        color: $musespurple;
      }
    }
    
    ul {
      list-style-type: none;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0px;
      li {
        font-size: 16px;
        margin-bottom: 9px;
      }
    }
    
  }
  

}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  min-height: 1080px;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
 article.post {
   vertical-align: top;
   display: inline-block;
   padding-left: 30px;
   padding-top:30px;
 }
 
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  padding-bottom: 150px;

  h2 {
    margin-top: $spacing-unit * 2;
  }
  
  h3, h4, h5, h6 {
    margin-top: $spacing-unit * 1.25;
    font-weight: bold;
    border-bottom: 2px solid #eee;

  }

  h2 {
    @include relative-font-size(2);
    border-bottom: 3px solid $musespurple;

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.5);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
  
  h5 {
    font-size: $base-font-size;
    @include media-query($on-laptop) {
      font-size: $base-font-size;
    }
  }
  
}

@include media-query($on-palm) {
  .post-content {
    padding-bottom: 200px;  
  }
}
@include media-query($on-laptop) {
  .post-content {
    padding-bottom: 200px;  
  }
}

